<!-- flash 메세지를 받아오는 함수 get_flashed_messages() -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}"); // 리스트의 맨마지막 값이 message
        </script>
    {% endif %}
{% endwith %}

<link rel="stylesheet" href="../static/commen.css">
<h3>로그인</h3>

<div class="login-form">
    <form action="{{url_for('member.member_login')}}" method="POST" name="form">
        {% if next_url %}
            <input type="hidden" name="next_url" value={{next_url}}>
        {% endif %}
        <ul>
            <li>이메일</li>
            <li><input type="text" name="email"></li>
            <li>비밀번호</li>
            <li><input type="password" name="pw"></li>
            <li><input type="submit" value="로그인"></li>
        </ul>
    </form>
</div>