{% extends 'base.html' %}
{% block content %}
<!-- 
    자바스크립트에서 정규 표현식(regex, regular expression)
    형식 :
    /정규식 문법/


 -->

<script>

    // 이메일 유효성 검사를 하는 함수
    function validateEmail(email) 
    {
        let pattern = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;

        // 입력한 email 문자열을 테스트해서 true 또는 false를 리턴
        return pattern.test(email);

    }


    function login_chk_form() 
    {
        let email_val = $.trim($("#email").val());
        if(email_val == "")
        {
            alert("이메일을 입력하세요.");
            $("#email").focus();
            return false;
        }

        if(!validateEmail(email_val))
        {
            alert("이메일 형식이 아닙니다. 다시 확인하세요!");
            $("#email").focus();
            return false;
        }

        if($.trim($("input[name=pw]").val()) == "")
        {
            alert("비밀번호를 입력하세요.");
            $('input[name=pw]').focus();
            return false;
        }
        
        return ture;
    }
</script>
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{messages[-1]}}");
            </script>
        {% endif %}
    {% endwith %}

    <div class="login-box">
        <form class="form-signin" action="{{url_for('member.member_login')}}" method="POST" name="form" onsubmit="return login_chk_form()">
            <h1 class="h3 mb-3 font-weight-normal text-center">로그인</h1>
            {% if next_url %}
                <input type="hidden" name="next_url" value={{next_url}}>
            {% endif %}
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
            </div>
            <div class="form-group">
                <label for="pw">비밀번호</label>
                <input type="password" id="pw" name="pw" class="form-control" placeholder="Password" required>
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
        </form>
    </div>
{% endblock content %}