<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/commen.css">
</head>
<body>
    <h1>글쓰기</h1>
    <form action="/write" method="POST" name="form">
        <ul>
            <li>글쓴이</li>
            <li><input type="text" name="name" size="28" value="{{session['name']}}" readonly></li>
            <li>제목</li>
            <li><input type="text" name="title" size="28"></li>
            <li>내용</li>
            <li><textarea name="contents" cols="30" rows="10"></textarea></li>
            <li><input type="submit" value="등록"></li>
        </ul>
    </form>
</body>
</html>