{% extends "base.html" %}
{% block content %}
    <h3>게시글 상세보기</h3>

    {{result.title}}<br>
    {{result.name}}<br>
    {{result.regdate | datetime_format}}<br>
    {{result.contents}}<br>
    {{result.hit}}<br>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{messages[-1]}}"); // 리스트의 맨마지막 값이 message
            </script>
        {% endif %}
    {% endwith %}

    <p></p>
    <p>
        <a href="{{url_for('board.list', keyword=keyword, search=search, page=page)}}">리스트</a>
    </p>
    {% if session['id'] == result.writer_id %}
        <a href="{{url_for('board.board_modify', idx=result.id)}}">글수정</a>
        <a href="{{url_for('board.board_delete', idx=result.id)}}">글삭제</a>
    {% endif %}

    <br>

    {% if prev_board_id %}
    <a href="{{url_for('board.board_view', idx=prev_board_id)}}">이전글</a>
    {% else %}
        이전글이 없습니다.
    {% endif %}

    {% if next_board_id %}
        <a href="{{url_for('board.board_view', idx=next_board_id)}}">다음글</a>
    {% else %}
        다음글이 없습니다.
    {% endif %}

{% endblock content %}