<?xml version=1.0 encoding=utf-8?>
<configuration>
  <system.webServer>
    <handlers>
      <add   name=PythonHandler
            path=*
            verb=*
            modules=FastCgiModule
            scriptProcessor=C:\Python\Python36\python.exe|C:\Python\Python36\Lib\site-packages\wfastcgi.py
            resourceType=Unspecified
            requireAccess=Script ></add>
    </handlers>

  </system.webServer>

  <appSettings>
      <add key=PYTHONPATH value=D:\license_server></add>
      <!-- The handler here is specific to Bottle; see the next section. -->
      <add key=WSGI_HANDLER value=runserver.application></add>
      <add key=WSGI_LOG value=C:\logs\wfastcgi.log></add>
  </appSettings>
</configuration>