{% extends 'base.html' %}
{% block content %}
<script>
    function chk_form() 
    {
        if($.trim($("#email").val()) == "")
        {
            alert("이메일을 입력하세요.");
            $("#email").focus();
            return false;
        }
        else if($.trim($("input[name=pw]").val()) == "")
        {
            alert("비밀번호를 입력하세요.");
            $('input[name=pw]').focus();
            return false;
        }
        
        return ture;
    }
</script>



    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{messages[-1]}}");
            </script>
        {% endif %}
    {% endwith %}
    <h3>로그인</h3>

    <div class="login-form">
        <form action="{{url_for('member.member_login')}}" method="POST" name="form" onsubmit="return chk_form()">
            {% if next_url %}
                <input type="hidden" name="next_url" value={{next_url}}>
            {% endif %}
            <ul>
                <li>이메일</li>
                <li><input type="text" name="email" id="email"></li>
                <li>비밀번호</li>
                <li><input type="password" name="pw"></li>
                <li><input type="submit" value="로그인"></li>
            </ul>
        </form>
    </div>
{% endblock content %}