<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
    </head>
    <body>
        <header>
            {% include 'nav.html' %}
        </header>

        <main role="main">
            <div class="container-fluid sub-visual"></div>
            <p></p>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 blog-main">

                        {% block contents_left %}
                        {% endblock contents_left %}
                        
                    </div>
                    {% include 'aside.html' %}
                </div>
            </div>
            {% include 'footer.html' %}
        </main>

    </body>
</html>