{% extends "base.html" %}
{% block content %}
<script>
    function chk_form() 
    {
        if($.trim($("#title").val()) == "")
        {
            alert("제목을 입력하세요.");
            $("#title").focus();
            return false;
        }

        if($.trim($("#contents").val()) == "")
        {
            alert("내용을 입력하세요!");
            $("#contents").focus();
            return false;
        }
        return true;
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <div class="blog-post">
                <h3 class="pb-4 mb-4 font-italic border-bottom">
                    글쓰기
                </h3>
            </div><!-- /.blog-post -->
            <form action="{{url_for('board.board_write')}}" method="POST" name="form" onsubmit="return chk_form()">
                <div class="form-group">
                    <label for="name" >글쓴이</label>
                    <input class="form-control" type="text" name="name" size="28" value="{{session['name']}}" id="name" readonly>
                </div>
                <div class="form-group">
                    <label for="title">제목</label>
                    <input class="form-control" type="text" name="title" size="28" id="title" placeholder="제목을 입력하세요">
                </div>
                <div class="form-group">
                    <label for="contents">내용</label>
                    <textarea class="form-control" name="contents" cols="30" rows="10" id="contents" placeholder="내용을 입력하세요"></textarea>
                </div>
                <div class="text-left">

                    <input class="btn btn-primary" type="submit" value="등록">
                    
                </div>
                <br>
            </form>

        
        </div><!-- /.blog-main -->
        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
              <h4 class="font-italic">About</h4>
              <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            </div>
      
            <div class="p-4">
              <h4 class="font-italic">Archives</h4>
              <ol class="list-unstyled mb-0">
                <li><a href="#">March 2014</a></li>
                <li><a href="#">February 2014</a></li>
                <li><a href="#">January 2014</a></li>
                <li><a href="#">December 2013</a></li>
                <li><a href="#">November 2013</a></li>
              </ol>
            </div>
      
            <div class="p-4">
              <h4 class="font-italic">Elsewhere</h4>
              <ol class="list-unstyled">
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
              </ol>
            </div>
        </aside><!-- /.blog-sidebar -->
    </div>  <!-- /.row -->
</div> <!-- /.container -->
{% endblock content %}
